[Desktop Entry]
Name=Notes-Up
Comment=Your markdown notebook
Comment[lt]=Jūsų markdown užrašinė
Comment[fr]=Votre carnet de notes markdown
Comment[pt_BR]=O seu caderno em Markdown
Exec=notes-up
Icon=com.github.philip-scott.notes-up
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=notes-up --about
Name=About Notes-Up
Name[lt]=Apie Notes-Up
Name[fr]=À propos de Notes-Up
Name[pt_BR]=Sobre o Notes-Up
